@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    color: #084887;
  }

  .paragraph {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: #f9ab55;
  }

  .button-orange,
  .button-blue {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #f7f5fb;
    border-radius: 30px;
    padding: 10px 20px;
    text-align: center;
    width: 128px;
  }

  .button-orange {
    background-color: #f58a07;
    border: 1px solid #f58a07;
  }

  .button-orange:hover {
    background-color: #f7f5fb;
    color: #f58a07;
  }

  .button-blue {
    background-color: #084887;
    border: 1px solid #084887;
  }

  .button-blue:hover {
    background-color: #f7f5fb;
    color: #084887;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;
  }

  .input {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: #084887;
    border: 1px solid #909cc2;
    background: #f7f5fb;
    border-radius: 24px;
    padding: 10px 20px;
    height: 40px;
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    .heading {
      font-size: 1.875rem
        /* 30px */
      ;
      line-height: 2.25rem
        /* 36px */
      ;
    }
  }

  @media screen and (min-width: 1024px) {
    .heading {
      font-size: 2.25rem
        /* 36px */
      ;
      line-height: 2.5rem
        /* 40px */
      ;
    }
  }

  @media screen and (min-width: 1280px) {
    .heading {
      font-size: 2.5rem;
      /* 40px */
      line-height: 1;
    }
  }

  @media screen and (min-width: 768px) {

    .paragraph,
    .input,
    .button-orange,
    .button-blue {
      font-size: 1.125rem
        /* 18px */
      ;
      line-height: 1.75rem
        /* 28px */
      ;
    }
  }

  @media screen and (min-width: 1024px) {

    .paragraph,
    .input,
    .button-orange,
    .button-blue {
      font-size: 1.25rem
        /* 20px */
      ;
      line-height: 1.75rem
        /* 28px */
      ;
    }

    .button-orange,
    .button-blue {
      width: 144px;
    }

    .input {
      height: 48px;
    }
  }

  @media screen and (min-width: 1280px) {

    .paragraph,
    .input,
    .button-orange,
    .button-blue {
      font-size: 1.5rem
        /* 24px */
      ;
      line-height: 2rem
        /* 32px */
      ;
    }

    .button-orange,
    .button-blue {
      width: 160px;
    }
  }

  @media screen and (min-width: 768px) {
    .form {
      width: 24rem;
    }
  }

  @media screen and (min-width: 1024px) {
    .form {
      width: 28rem;
    }
  }

  /* @media screen and (min-width: 768px) {
    .input {
      height: 44px;
    }
  }

  @media screen and (min-width: 1024px) {
    .input {
      height: 56px;
    }
  } */
}